version: "3.3" 

services:
  web:
    build:
      context: ./
      dockerfile: dockerfile
    depends_on:
      - db
    volumes:
      - ./:/var/www/html/
    environment:
      WORDPRESS_DB_HOST: db:3306
      WORDPRESS_DB_USER: devuser
      WORDPRESS_DB_PASSWORD: devpassword
      WORDPRESS_DB_NAME: test_db

    ports:
      - 8000:80
  db:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root 
      MYSQL_DATABASE: test_db
      MYSQL_USER: devuser
      MYSQL_PASSWORD: devpassword
    ports:
      - 6033:3306
